= form_tag '', :id => 'bookings_table_form', 'data-table-select' => true, :method => :put, :remote => true do
  %table.table.table-striped.bookings.collection
    %thead
      %tr
        %th.valute_date= t_attr :valuta
        %th.code= t_attr :code
        %th.title= t_attr :title
        %th.reference= t_attr :reference
        %th.debit_account= t_attr :debit_account
        %th.credit_account= t_attr :credit_account
        %th.amount.currency= t_attr 'amount'
        %th.action-links
    %tbody
      = render collection, :item_action => (item_action ||= nil)

= paginate collection if defined?(paginate)
= render 'bookings/sidebar'
