%tr[account]
  %td= account.code
  %td
    = link_to account.title, account, 'data-href-container' => 'tr'
    .pull-right
      - account.tags.each do |tag|
        = boot_label(tag)
  %td.action-links
    = list_link_for(:edit, account)
    = list_link_for(:delete, account)
    = list_link_to :print, account_path(account, :format => :pdf, :per_page => 5000)
