- url_params = {:controller => 'accounts', :action => 'show', :id => params[:account_id] || params[:id]}

= simple_form_for OpenStruct.new(params[:by_date]), url: '#', as: :by_date, method: :get, wrapper: :inline do |f|
  .row-fluid
    .span1= Booking.human_attribute_name :date
    .span2= f.input :from, as: :date_field, label: true, input_html: { class: 'input-small' }
    .span2
      = f.input :to, as: :date_field, label: true, input_html: { class: 'input-small' }
    .span2= f.button :submit, t('crud.action.filter')

= paginate @bookings

%table.table.table-striped.bookings.collection
  %thead
    = render 'accounts/booking_list_header'
  %tbody
    - if @carry_booking && @saldo != 0
      = render 'accounts/carry_booking'

    - for @booking in @bookings
      - amount = @booking.amount
      - amount = -(amount) if @account.liability_account?
      - @saldo += @booking.accounted_amount(@account)
      = render 'accounts/booking_item'
  %tfoot
    = render 'accounts/booking_list_footer' unless @bookings.empty?

= paginate @bookings
